body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;
    text-align: left;
    margin: 20px auto;
}
/*index.php*/
#header {
    height: 80px;
    background: #aaa;
}

#footer {
    height: 80px;
    clear: left;
    background: #aaa;
}

#indexLeftColumn {
    height: 390px;
    width: 150px;
    float: left;
    background: #ccc;
}

#indexRightColumn {
    height: 390px;
    width: 680px;
    float: left;
    background: #eee;
}
/*cv.html.php*/
#maincv { background: #eee }

#headercv {
    height: 340px;
    background: #aaa;
}

#logo {
    height: 100px;
    width: 800px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background: #aaa;
}

#logoTexttitle {
    margin:0 0 0 70px;
    /*font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier,monospace;
    font-size: 50px;
    color: #333;
    text-align:center;
}
#logoTextdetail{
    /*font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier,monospace;
    font-size: 20px;
    color: blue;
    text-align:center;
    background: #aaa;
}
#widgetBar {
    height:190px;
    width: 830px;
    float: left;
    background: #ccc;
}
#headerWidgetleft{
    float: left;  
}
#headerWidgetright{
    float: right;
}
.headerWidget {
    width:410px;
    height:160px;
    margin:  10px;
    font-size: small;
    line-height:20px;
    background: #aaa;
}

#cvfooter {
    height: 150px;
    clear: left;
    background: #ccc;
}

#cvLeftColumn {
    height:950px;
    width:830px;
    float: left;
    background:#ccc;
}
#cvMiddleColumn {
    height:780px;
    width: 830px;
    float:left;
    background: #ccc;
}

#cvRightColumn {
    height: 290px;
    width: 830px;
    float:left;
    background: #ccc;
}

.cvColumnTitle {
    margin-left: 10px;
    margin-top: 10px;
    width:810px;
    color: #333;
    background:#aaa;
    text-align:center;
}
/* table de neuf*/
#explaintext{
    float: right;
    width: 200px;
    height: 200px;
}
#table{
    width: 200px;
    height: 200px;
    float: left;
}
#leftmember{
    float: left;
    width: 500px;
}
.multiplicateur{
    width: 1024px;
    height:20px;
    text-align: center;
    margin-bottom: 5px;
}
#rightmember{
    float: right;
    width: 500px;
}
#dizaines{
    float: left; 
    width: 250px;
}
#unites{
    float: right;
    width: 250px;
}
.dizaine{
    width: 20px;
    height:20px;
    background: burlywood;
    text-align: center;
    margin-bottom: 5px;
}
/*on hover mouse*/
.dizaine:hover{
    width: 20px;
    height:20px;
    background: red;
    text-align: center;
    margin-bottom: 5px;
}
.unite{
    background:burlywood;;
    width: 20px;
    height:20px;
    text-align: center;
    margin-bottom: 5px;
}
/*on hover mouse*/
.unite:hover{
    background:#f0f;
    width: 20px;
    height:20px;
    text-align: center;
    margin-bottom: 5px;
}
/*slider left shows in the header*/
 #sliderShows{
    display: table;
    width:700px;
    -webkit-animation: slideAnim 20s ease 0s infinite;
       -moz-animation: slideAnim 20s ease 0s infinite;
        -ms-animation: slideAnim 20s ease 0s infinite;
         -o-animation: slideAnim 20s ease 0s infinite;
            animation: slideAnim 20s ease 0s infinite;
}

ul li{
    display: table-cell;
    width:300px;
}
/*slider left shows function*/
@keyframes slideAnim{
from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}
@-webkit-keyframes slideAnim{from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}
@-moz-keyframes slideAnim{
from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}

@-ms-keyframes slideAnim{from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}
@-o-keyframes slideAnim{from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}

