body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
    margin: 2% auto;
}
/*index.php*/
#header {
    height: 8%;
    background: #aaa;
}

#footer {
    height: 8%;
    clear: left;
    background: #aaa;
}

#indexLeftColumn {
    height: 39%;
    width: 15%;
    float: left;
    background: #ccc;
}

#indexRightColumn {
    height: 39%;
    width: 68%;
    float: left;
    background: #eee;
}
/*cv.html.php*/
#maincv { background: #eee }

#headercv {
    height: 34%;
    background: #aaa;
}

#logo {
    height: 10%;
    width: 80%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    background: #aaa;
}

#logoTexttitle {
    margin:0 0 0 7%;
    /*font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier,monospace;
    font-size: 5%;
    color: #333;
    text-align:center;
}
#logoTextdetail{
    /*font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier,monospace;
    font-size: 2%;
    color: blue;
    text-align:center;
    background: #aaa;
}
#widgetBar {
    height:19%;
    width: 83%;
    float: left;
    background: #ccc;
}
#headerWidgetleft{
    float: left;  
}
#headerWidgetright{
    float: right;
}
.headerWidget {
    width:41%;
    height:16%;
    margin:  1%;
    font-size: small;
    line-height:2%;
    background: #aaa;
}

#cvfooter {
    height: 15%;
    clear: left;
    background: #ccc;
}

#cvLeftColumn {
    height:95%;
    width:83%;
    float: left;
    background:#ccc;
}
#cvMiddleColumn {
    height:78%;
    width: 83%;
    float:left;
    background: #ccc;
}

#cvRightColumn {
    height: 29%;
    width: 83%;
    float:left;
    background: #ccc;
}

.cvColumnTitle {
    margin-left: 1%;
    margin-top: 1%;
    width:81%;
    color: #333;
    background:#aaa;
    text-align:center;
}
/* table de neuf*/
#explaintext{
    float: right;
    width: 20%;
    height: 20%;
}
#table{
    width: 20%;
    height: 20%;
    float: left;
}
#leftmember{
    float: left;
    width: 50%;
}
.multiplicateur{
    width: 100%;
    height:2%;
    text-align: center;
    margin-bottom: 5px;
}
#rightmember{
    float: right;
    width: 50%;
}
#dizaines{
    float: left; 
    width: 25%;
}
#unites{
    float: right;
    width: 25%;
}
.dizaine{
    width: 20px;
    height:20px;
    background: burlywood;
    text-align: center;
    margin-bottom: 5px;
}
/*on hover mouse*/
.dizaine:hover{
    width: 20px;
    height:20px;
    background: red;
    text-align: center;
    margin-bottom: 5px;
}
.unite{
    background:burlywood;;
    width: 20px;
    height:20px;
    text-align: center;
    margin-bottom: 5px;
}
/*on hover mouse*/
.unite:hover{
    background:#f0f;
    width: 20px;
    height:20px;
    text-align: center;
    margin-bottom: 5px;
}
/*slider left shows in the header*/
 #sliderShows{
    display: table;
    width:700px;
    -webkit-animation: slideAnim 20s ease 0s infinite;
       -moz-animation: slideAnim 20s ease 0s infinite;
        -ms-animation: slideAnim 20s ease 0s infinite;
         -o-animation: slideAnim 20s ease 0s infinite;
            animation: slideAnim 20s ease 0s infinite;
}

ul li{
    display: table-cell;
    width:300px;
}
/*slider left shows function*/
@keyframes slideAnim{
from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}
@-webkit-keyframes slideAnim{from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}
@-moz-keyframes slideAnim{
from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}

@-ms-keyframes slideAnim{from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}
@-o-keyframes slideAnim{from,4% {margin-left:00px;}
5%,11% {margin-left:-50px;}
15%,26%{margin-left:-100px;}
30%,41%{margin-left:-150px;}
45%,56%{margin-left:-200px;}
65%,76%{margin-left:-250px;}
80%,91%{margin-left:-300px;}
99.99%{margin-left:-700px;}
}

