<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles_animation.css">
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>

        <div>
            <div id="animtable1">TODO write content</div>
            <div class="animtable1">TODO write content</div>
        </div>
    </body>
</html>
